/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
error_log
firebase_credentials.json
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
*.zip
storage